<div class="allies-section">
    <h2>Nuestros Aliados</h2>
    <div class="allies">
        <a href="https://www.haceb.com/"><img src="Logo_Haceb.jpg" alt="Haceb" class="ally-image"></a>
        <a href="https://www.fundacionfraternidadmedellin.org/"><img src="fundacion_fraternidad.png" alt="Fundación Fraternidad Medellín" class="ally-image"></a>
        <a href="https://www.grupoargos.com/"><img src="grupo_argos.png" alt="Grupo Argos" class="ally-image"></a>
        <a href="https://www.exito.com/"><img src="exito.png" alt="Éxito" class="ally-image"></a>
        <a href="https://www.bancolombia.com/"><img src="bancolombia.png" alt="Bancolombia" class="ally-image"></a>
        <a href="https://www.corautos.com/"><img src="corautos.png" alt="Corautos" class="ally-image"></a>
        <a href="https://www.medellin.gov.co/"><img src="medellin.png" alt="Medellín" class="ally-image"></a>
    </div>
</div>