<div class="allies-section">
    <h2>Nuestros Aliados</h2>
    <div class="allies">
        <a href="https://www.haceb.com/"><img src="Logo-Fund-Haceb.png" alt="Haceb" class="ally-image"></a>
        <a href="https://www.fundacionfraternidadmedellin.org/"><img src="Logo-Fraternidad.png" alt="Fundación Fraternidad Medellín" class="ally-image"></a>
        <a href="https://www.grupoargos.com/"><img src="Logo-Fund-Argos.png" alt="Grupo Argos" class="ally-image"></a>
        <a href="https://www.exito.com/"><img src="Logo-Exito.png" alt="Éxito" class="ally-image"></a>
        <a href="https://www.bancolombia.com/"><img src="Logo-Bancolombia.png" alt="Bancolombia" class="ally-image"></a>
        <a href="https://www.corautos.com/"><img src="Logo-Corautos.png" alt="Corautos" class="ally-image"></a>
        <a href="https://www.medellin.gov.co/"><img src="Logo-Gobernacion.png" alt="Medellín" class="ally-image"></a>
    </div>
</div>