body {
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 20% 80%;
}

#sideBar {
    display: flex;
    flex-direction: column;
    background-color: #FA4616;
    justify-content: center;
    align-content: center;
    padding: 15%;
    color: white;
    text-align: center;
}

#mainContent {
    background-color: white;
}