<div class="footer">
    <div class="footer-content">
        <div class="footer-logo">
            <img src="../../img/SPC_logotipo_Horizontal_AlMargen_RGB (1).png" alt="Secretos para contar logo">
        </div>
        <div class="footer-links">
            <a href="#">Política de privacidad y protección de datos personales</a>
            <p>© Todos los derechos reservados</p>
        </div>
        <div class="footer-contact">
            <p>Contáctenos</p>
            <p><a href="mailto:info@secretosparacontar.org">infosecretosparacontar.org</a></p>
            <p><a href="tel:+576043220690">(57) 604 322 06 90</a></p>
            <p><a href="#">Trabaja con nosotros</a></p>
            <p>Calle 11A #43B – 41, Barrio Manila, Medellín, Colombia</p>
            <div class="footer-social">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </div>
</div>