div {
  margin: 0 auto 0 auto;
  margin-top: 20px;
}

form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

input[type="search"] {
  width: 600px;
  height: 36px;
  padding: 0 40px 0 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
}

button[type="submit"] {
  background-color: #FA4616;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  margin-left: -60px; /* Adjust this value to position the button over the input */
  z-index: 1; /* Ensure the button appears on top of the input */
}
