<div class="navbar">
  <span class="menu-icon" (click)="openNav()">☰</span>
  <div class="logo-container">
    <img class="logo" src="/SPC_logotipo_Horizontal_AlMargen_RGB (1).png"
      alt="SPC_logotipo_Horizontal_Secretos_para_contar">
  </div>
  <div class="menu">
    <a [routerLink]="['/buscador']">Libros</a>
    <a [routerLink]="['/biblioteca']">Mi Biblioteca</a>
    <button id="toggleDarkMode" (click)="toggleDarkMode()"><i class="fas" [ngClass]="{'fa-moon': !isDarkMode, 'fa-sun': isDarkMode}"></i></button>
  </div>
</div>

<!-- <app-sidebar></app-sidebar> -->
<div class="sidebar" [style.left]="isSidebarVisible ? '0' : '-100%'" [style.visibility]="isSidebarVisible ? 'visible' : 'hidden'">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <ul>
    <li><a [routerLink]="['/login']">Iniciar Sesión</a></li>
    <li><a [routerLink]="['/']">Inicio</a></li>
    <li><a [routerLink]="['/biblioteca']">Mi Biblioteca</a></li>
  </ul>
</div>