.navbar {
  padding: 10px 20px;
  padding-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5f8db5ff;
  color: white;
  height: 10%;
  font-size: 1.2rem;
}

.menu-icon {
  font-size: 2.5rem;
  cursor: pointer;
  color: #000;
}

.logo-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  max-width: 40%;
  height: auto;
}
.menu {
  display: flex;
  align-items: center;
}
.menu a {
  color: #000;
  text-decoration: none;
  padding: 0 15px;
  font-size: 1.2em;
}
.menu a:hover {
  color: #555;
}

/* Estilos del sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #5f8db5ff;
  color: #fff;
  padding: 20px;
  transition: left 0.5s;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 20%;
}

.sidebar li {
  margin-bottom: 2em;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
  padding: .5em;
  font-size: 1.8rem;
  transition: .3s;
}

.sidebar a:hover {
  background-color: #618eb4;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 3rem;
  margin-left: 50px;
  cursor: pointer;
}