/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Be Vietnam Pro', 'Literata', 'Be Vietnam Pro Bold', 'Be Vietnam Pro Semibold';
    margin: 0;
    height: 100vh;
}

html, body { height: 100%; }