.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
  column-gap: 2rem;
  min-height: 100%;
}

.component{
  border: 1px solid #777;
  padding: 1.5em;
  font-size: 1.5rem;
}

.component h1{
  margin-bottom: .5em;
}