<body>
    <!-- Nav bar -->
    <app-navbar></app-navbar>

    <!-- Side Bar -->
    <app-sidebar></app-sidebar>

    <!-- Content -->
    <div class="content">
        <app-buscador></app-buscador>
        <h1>Bienvenido a Secretos Para Contar</h1>
        <div class="carousel">
            <div class="carousel-images">
                <img src="../../img/vida-despues-de-la-muerte.jpg" alt="Vida después de la muerte - Una imagen misteriosa"
                    class="mi-imagen">
                <img src="../../img/vida-despues-de-la-muerte.jpg" alt="" class="mi-imagen">
                <img src="../../img/vida-despues-de-la-muerte.jpg" alt="" class="mi-imagen">
                <img src="../../img/vida-despues-de-la-muerte.jpg" alt="" class="mi-imagen">
                <img src="../../img/vida-despues-de-la-muerte.jpg" alt="" class="mi-imagen">
                <img src="../../img/vida-despues-de-la-muerte.jpg" alt="" class="mi-imagen">
                <img src="../../img/vida-despues-de-la-muerte.jpg" alt="" class="mi-imagen">
            </div>
        </div>
    </div>

    <!-- Sección de aliados -->
    <app-allies-section></app-allies-section>

    <!-- Footer -->
    <app-footer></app-footer>

    <script src="scripts.js"></script>
</body>