<div class="content">
    <app-buscador></app-buscador>
    
    <h1>Libros Accesibles</h1>

    <!-- Lista de libros -->
    <div class="book-list" id="book-list">

        <div class="book-item" data-category="infantil">
            <div class="book-info">
                <img src="img/libros/A-QUE-TE-COJO.webp" alt="Libro Infantil 1" class="book-image">
                <p>A que te cojo raton</p>
            </div>
            <div class="book-links">
                <a href="path/to/pdf1.pdf" target="_blank"><button>PDF</button></a>
                <a href="audio.html" target="_blank"><button>Audio</button></a>
                <i class="fa-solid fa-check"></i> <!-- Icono de chulito -->
            </div>
        </div>
        <!-- Otro libro infantil -->
        <div class="book-item" data-category="infantil">
            <div class="book-info">
                <img src="img/libros/ANIMALES.webp" alt="Libro Infantil 2" class="book-image">
                <p>El viaje de los sueños</p>
            </div>
            <div class="book-links">
                <a href="path/to/pdf2.pdf" target="_blank"><button>PDF</button></a>
                <!-- No hay enlace de audio -->
                <i class="fa-solid fa-times"></i> <!-- Icono de x -->
            </div>
        </div>
        <!-- Libros juveniles -->
        <div class="book-item" data-category="juvenil">
            <div class="book-info">
                <img src="img/libros/C6-del-campo-a-la-mesa (1).webp" alt="Libro Juvenil 1" class="book-image">
                <p>La aventura del saber</p>
            </div>
            <div class="book-links">
                <a href="path/to/pdf3.pdf" target="_blank"><button>PDF</button></a>
                <a href="path/to/audio3.mp3" target="_blank"><button>Audio</button></a>
                <i class="fa-solid fa-check"></i> <!-- Icono de chulito -->
            </div>
        </div>
        <!-- Otro libro juvenil -->
        <div class="book-item" data-category="juvenil">
            <div class="book-info">
                <img src="img/libros/C6-del-campo-a-la-mesa.webp" alt="Libro Juvenil 2" class="book-image">
                <p>El misterio del bosque</p>
            </div>
            <div class="book-links">
                <a href="path/to/pdf4.pdf" target="_blank"><button>PDF</button></a>
                <!-- No hay enlace de audio -->
                <i class="fa-solid fa-times"></i> <!-- Icono de x -->
            </div>
        </div>
        <!-- Libros adultos -->
        <div class="book-item" data-category="adulto">
            <div class="book-info">
                <img src="img/libros/cuentos-para-contar.webp" alt="Libro Adulto 1" class="book-image">
                <p>La sabiduría del tiempo</p>
            </div>
            <div class="book-links">
                <a href="path/to/pdf5.pdf" target="_blank"><button>PDF</button></a>
                <a href="path/to/audio5.mp3" target="_blank"><button>Audio</button></a>
                <i class="fa-solid fa-check"></i> <!-- Icono de chulito -->
            </div>
        </div>
        <!-- Otro libro adulto -->
        <div class="book-item" data-category="adulto">
            <div class="book-info">
                <img src="img/libros/LA-TIERRA-EL-CIELO.webp" alt="Libro Adulto 2" class="book-image">
                <p>Historias para reflexionar</p>
            </div>
            <div class="book-links">
                <a href="path/to/pdf6.pdf" target="_blank"><button>PDF</button></a>
                <!-- No hay enlace de audio -->
                <i class="fa-solid fa-times"></i> <!-- Icono de x -->
            </div>
        </div>

    </div>
</div>